
body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

img{
    display: flex;
    margin: 5px;
}

div{
    justify-content: center;
}

.search-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

.search-input {
    border-radius: 4px;
    padding: 8px;

}

.search-button {
    border-radius: 4px;
    padding: 8px;
    margin-left: 4px;
    background-color: gold;
    color: maroon
}

/*  Movie Cards */
.card-output {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
}

@media screen and (max-width: 767px) {
    .card-output {
        grid-template-columns: 1fr;
    }
}
.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-title {
    color: green;

}
.card-overview {
    font-style: italic;
}

.card-image {
    text-align: center;
}